* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Plus Jakarta Sans", sans-serif;
  background: #f7fafd;
}

.main {
  max-width: 700px;
  margin: 40px auto;
  background: white;
  padding: 30px;
  border-radius: 10px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;
}

.notifications-counter {
  background: #0a327b;
  color: white;
  padding: 2px 8px;
  border-radius: 6px;
  margin-left: 10px;
}

.mark-all-button {
  border: none;
  background: none;
  cursor: pointer;
  color: #5e6778;
}

ul {
  list-style: none;
}

li {
  display: flex;
  gap: 15px;
  padding: 15px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.new-notification {
  background: #f7fafd;
}

.notification-dot {
  display: inline-block;
  width: 8px;
  height: 8px;
  background: red;
  border-radius: 50%;
  margin-left: 6px;
}

.notification-text-private-message {
  display: none;
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 5px;
  margin-top: 10px;
}

.private-message.open .notification-text-private-message {
  display: block;
}

.profile-link,
.notification-link-post {
  font-weight: 800;
  color: black;
  text-decoration: none;
}

.picture {
  width: 40px;
  height: 40px;
  margin-left: auto;
}

.footer {
  text-align: center;
  margin: 20px;
}

img {
    width: 42px;
    height: 42px;
}